/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json

.idea/
__old
.run

/build/

.badita.yaml
workbench/database/migrations/*
!workbench/database/migrations/.gitkeep
workbench/.env
.output.txt
workbench/database/template.sqlite
workbench/database/test_*.sqlite
/vendor
/node_modules
/app/storage
/public/storage
/public/hot
/.gemini
GEMINI.md
/.vscode
/.ai
/.idea
/__old
/_old
/build
/.junie
.deptrac.cache
CLAUDE.md

.CLAUDE.md
.GEMINI.md
AGENTS.md
