includes:
    - extension.neon

parameters:
    level: 5
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#Creating new PHPStan\\Analyser\\Error is not covered by backward compatibility promise#'
            path: tests/*
        -
            message: '#Creating new PHPStan\\Command\\AnalysisResult is not covered by backward compatibility promise#'
            path: tests/*
        -
            message: '#Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage::once\(\)#'
            path: tests/*
        -
            message: '#expects PHPStan\\Command\\Output, Mockery\\MockInterface given#'
            path: tests/*
        -
            message: '#Call to method PHPUnit\\Framework\\Assert::assertTrue\(\) with false will always evaluate to false\.#'
            path: tests/Fixtures/*
